.theme-green {
    --page-background-color: green;
    --card-background-color: grey;
    --button-background-color: #47CDFF;
    --header-background-color: grey;

    --text-default-color: white;
    --text-error-color: red;

}
